<html lang="en">
  <link type="text/css" id="dark-mode" rel="stylesheet" href="" />

  <head>
    <title>Registrasi Flipped Learning</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .regular,html{font-family:Helvetica,sans-serif!important}.main,.wrapper{display:block;width:100%}blockquote,blockquote footer{position:relative}html{height:100%;background-color:#edede9;font-size:15px}body{height:auto;background-color:#fff!important;font-family:Helvetica,sans-serif}.wrapper{box-sizing:border-box;margin:0 auto;background-color:#fff;max-width:600px;padding:0}.regular{font-size:17px!important;padding:40px 20px 60px;text-align:justify}.btn,.btn-lg{font-size:15px;line-height:1.5}.main{padding:20px;margin:0 auto!important}.background{background-color:#416475!important;width:100%}.body{padding:2%}.body img{max-width:100%}ol,ol>li,ul,ul>li{margin-left:20px}.no-spacing-bottom{margin-bottom:0;padding-bottom:0}.no-spacing-top{margin-top:0;padding-top:0}.footer{text-align:center;background-color:#99a3a4;padding:20px 10px}.text-center{text-align:center!important}.mt-2,.my-2{margin-top:1rem!important}.mt-5,.my-5{margin-top:3rem!important}.pr-5,.px-5{padding-right:3rem!important}.pl-5,.px-5{padding-left:3rem!important}.btn{display:inline-block;cursor:pointer;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;padding:.375rem .75rem;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}.btn-primary{color:#fff;background-color:#007bff;border-color:#007bff}.btn-lg{padding:.5rem 1rem;border-radius:.3rem}blockquote{margin:0 auto;padding:0;font-size:14px;width:80%;line-height:1.4;text-rendering:optimizeLegibility;font-family:'EB Garamond',serif;-webkit-font-smoothing:antialiased;-moz-osx-fon-smoothing:grayscale}blockquote p:first-of-type:before{content:"\201c";position:absolute;left:-.5em}blockquote p:last-of-type:after{content:"\201d";position:absolute}blockquote footer:before{content:"–";position:absolute;left:-.6em}@media screen and (max-width:600px){.main,body{width:100%!important;min-width:100%!important;max-width:100%!important;padding:0!important;margin:0!important}body{background-color:#fff}u+#body{width:100vw!important;max-width:100%!important}}
    </style>
  </head>

  <body>
    <div class="background">
      <div class="main">
        <div class="wrapper">
          <div class="body">
            <div style="text-align: start">
              <p class="regular no-spacing-top no-spacing-bottom">
                Salam kenal,
                <span>{{name}}</span>
                <img src="cid:wave" height="25px" />
              </p>
              <br />
              <p class="regular no-spacing-top no-spacing-bottom">
                Selamat kamu telah terdaftar pada LMS Flipped Learning. Untuk
                memulai menggunakan Flipped Learning, mohon menghubungi admin
                melalui WhatsApp
                <span style="font-weight: bold">085 736 822 725</span> dengan
                mengirimkan nama lengkap dan email yang didaftarkan.
              </p>

              <div class="text-center mt-2">
                <a href="{{link}}" rel="no-referrer" target="_blank">
                  <button class="btn btn-primary btn-lg">Hubungi Admin</button>
                </a>
              </div>

              <blockquote>
                <p>
                  Hiduplah seolah-olah kamu akan mati besok. Belajarlah
                  seolah-olah Anda hidup selamanya.
                </p>
                <footer>Mahatma Gandhi</footer>
              </blockquote>
            </div>
            <br />
            <div class="footer">
              <p class="no-spacing-bottom">
                Email ini dihasilkan secara otomatis oleh sistem dan mohon untuk
                tidak membalas email ini. Informasi lebih lanjut hubungi UBBG
                Call Center di 012129021.
                <br />
                <br />
                Salam hangat,
                <br />
                Mimin Flipped Learning :&#41;
              </p>
            </div>
          </div>
        </div>
        <br />
      </div>
    </div>
  </body>
</html>
